.nav-bar{
    display: flex;
    text-align: justify;
    color: blue;
    background-color: grey;
    border: 2px solid black;
    position: sticky;
    margin: -8px;
    top: 0;
}

a{
    padding: 6px;
    font-size: 0.8rem;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: white;
    color: #000000;

}

h1{
    border: 2px solid #00F;
    padding: 10px;
    margin: 30px 0px;
}

h2{
    font-weight: bold;
    border: 2px solid #AAA;
    padding: 5px;
    margin: 15px 0px;
}


li{
    padding:0px 10px;
    line-height: 1.5;
}

ul{
    border: 2px solid #0f0;
}
